<div class="modal" tabindex="-1" id="staticBackdrop">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Modal body text goes here.</p>
        {{productosEnCarrito}}
        {{>llenarCarrito productosEnCarrito=productosEnCarrito}}
      </div>
    </div>
  </div>
</div>