<form action="">
  <h4>Formulario de contacto</h4>
  <label for="">Nombre:</label>
  <input type="text">
</form>

<footer class="bg-dark text-white text-center m-0 py-4">
  <p>Este es el footer de la pagina</p>
</footer>