{{>menu}}
<div class="container">
  <h1 class="text-center">{{bienvenida}}</h1>
  <div class="col-md-8 mx-auto">
    <div class="row">
      {{>producto productos=productos}}
    </div>
  </div>

  {{>modal}}
</div>