{{>menu contacto='contacto'}}

<form action="">
  <h4>Formulario de contacto</h4>
  <label for="">Nombre:</label>
  <input type="text">
</form>

{{>card 
  img='https://w7.pngwing.com/pngs/103/490/png-transparent-dragonball-z-vegeta-illustration-vegeta-majin-buu-goku-frieza-bulma-vegeta-fictional-characters-baby-trunks-thumbnail.png'
  titulo='Foto de vegeta'
  comentario='Esto es una foto desde el contact... esto es una prueba desde el contact'
  color='primary' 
}}

{{>footer}}