{{>menu home='home'}}

<h1>Hola mundo</h1>
<p>Este es un parrafo</p>

{{> card 
  img='https://static.zerochan.net/Son.Goku.%28DRAGON.BALL%29.full.1576118.jpg'
  titulo='Foto de goku'
  comentario='Esto es una foto desde el home... esto es una prueba desde el home'
  color='danger' 
}}

{{>footer}}