<div class="container text-center">
  <h2>Ingresa como parametro en la URL cualquiera de estas opciones</h2>
  <h3>O haz click en los botones</h3>
  <p>Ejemplo: /info</p>
  {{>botonera arrColores=colores}}
  {{>spin selected=color}}
</div>


