* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 5rem;
}

input {
    margin: 1rem;
}

#resultado2reg {
    display: none;
}

#tabla {
    display: none;
}

th {
    border: 1px black solid;
}

@media (max-width: 575px) {
    section {
        margin-bottom: 18rem;
    }
}

